h2 { 
    color: black;
  } 
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
      font-family: 'Montserrat', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    background: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    padding-top: 70px;
}
header {
    background-color:grey;
    color: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
h1 {
    margin-top: 0;
}
h2 {
    margin-bottom: 10px;
}
nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
}
nav a:hover {
    background-color: #ddd;
}
main {
    max-width: 800px;
    margin: 0 auto;
}
section {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#acerca-de-mi p {
    text-align: justify;
}
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.menu-fijo.fijo {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}